@keyframes swell {
   0%{      
       transform: scale(1);            
   }     

   100%{       
       transform: scale(1.04);             
   }
}





.card{   
   position: absolute;
   width: 90%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   z-index: 50;   
   /*animation: swell 30s 1s forwards; */
}


.card__lines{
   position: relative;   
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 5vw;  
   font-weight: 700;
   /*text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25),
              -3px 10px 12px rgba(0, 0, 0, 0.25);*/   
                
}

.caption{
   margin-top: 4vh;
   font-size: 4vw;
   font-weight: 300;
}


.fadein {
   opacity: 1;
   transition-duration: 1s;       
}

.fadeout {
   opacity: 0;    
   transition-duration: 1s;
}










/* need media queries */

@media (orientation: portrait) {
   .card{
      justify-content: flex-start;
   }
   .card__lines{         
      font-size: 5vw; 
      margin-top: 33vh;
   }
   .caption{
      font-size: 6vw;
   }
  }