.loadmain{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* need to disable touch */
}

.loadmain__title{
    font-size: 8vw;
}


@media (orientation: portrait) {
    
    .loadmain__title{

        font-size: 8vh;
    }
}