/*:root {
    --border-color: #e5e5e5;
    --field-color: #f1f1f1;
}*/


@keyframes searchswoopin {
    0%{
       
        transform: scale(0.8);            
    }     

    100%{
        
        transform: scale(1);             
    }
}

@keyframes bounce {
    0%   { transform: scale(1,1)}
    30%  { transform: scale(1,1)}
    40%  { transform: scale(1.02,.98)}
    60%  { transform: scale(.98,1.02) }
    80%  { transform: scale(1,1)}    
    100% { transform: scale(1,1)}
}


.main{
    position: relative;
    width: 100%;
    height: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.caption{
    margin-top: 10vh;
    width: 82%;
    font-size: 6vw;
    color: var(--border-color);
}




.searchbox{
    position: relative; 
    margin-top: 10vh;   
    z-index: 100;    
    width: 42vw;
    height: 12vw;
    display: flex;
    flex-direction: row;
    align-items: center; 
    transition-duration: opacity 1s;      
}
/*  fade this out after search with opacity to 0 */

.searchbox__searchimp {
    border-radius: 4vw;    
    height: 50%;
    width: 100%;
    border: .1vw var(--border-color) solid;
    /*border: 0;*/
    background-color: var(--field-color);
    box-shadow: 0px 1px 6px 0px var(--shadow);
    color: #a5a5a5;
}

.searchbox__searchbutton{
    position: absolute;  
    z-index: 150;
    right: 86%;    
    width: 12%;  
    height: 50%;     
    display: flex;
    align-items: center;
    justify-content: center;    
}

.searchbox__searchbutton__button{     
    width: 90%;  
    height: 90%;  
    transition-duration: .1s;
    /*background-color: rgb(218, 218, 218);*/
}

.searchbox__searchbutton__button:active {
    transition-duration: .1s;
    width: 70%;
}

input[type=text]{
    padding-left: 6vw;
    font-size: 2.4vw;
}

input::placeholder {  
    color: grey;  
    opacity: 0.5;   
}

input:focus {
    outline-width: 0;
}


.enterfirst{    
    /*transition-duration: 1s; 
    transition-delay: .1s;   
    opacity: 1;*/
    animation: bounce 1s ease-out .1s forwards;  
}

.enter{    
   /* transition-duration: 1s; 
    transition-delay: 1s;
    opacity: 1;*/
    animation: bounce 1s ease-out forwards;  
}






@media (orientation: portrait) {
    .caption{        
        font-size: 6vh;        
    }

    .searchbox{   
        margin-top: 15vh;
        width: 82vw;
        height: 30vw;               
    }    
    
    .searchbox__searchimp{
        border-radius: 7vw; 
        border: .1vh var(--border-color) solid; 
    }

    input[type=text]{
        padding-left: 11.6vw;
        font-size: 5.4vw;
    }    
}



.fadeinfirst{
    transition-duration: 1s; 
    transition-delay: .1s;   
    opacity: 1;
}

.fadein {
    opacity: 1;
    transition-duration: 1s;       
}

.fadeout {
    opacity: 0;    
    transition-duration: 1s;
}

